// Sugar Mixins - mixins to make your styles a little sweeter.

// rem size calc - converts pixel value to rem
// Usage: `font-size: rem(24);`
@function rem($size) {
  $remSize: $size/16;
  @return #{$remSize}rem;
}

// aspect ratio mixin
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}
