/*----------------------------------------------------------------------------
  WordPress Social Menu
  - make sure to include FontAwesome for this to work!
----------------------------------------------------------------------------*/
.menu-social {
  ul {
    text-align: inherit;
    list-style: none;
    padding: 0;
    li{
      position: relative;
      display: inline-block;
      padding: 0 .625rem;
      a{
        display: inline-block;
        width: 22px;
        height: 22px;
        border-radius: 10px;
        text-align: center;
        &:before{
          padding-bottom: .25rem;
          display: inline-block;
          vertical-align: middle;
          font-family: 'FontAwesome';
          font-size: .7rem;
          color: red;
          -webkit-font-smoothing: antialiased;
        }
        &:hover {
          font-style: normal;
        }
      } // end anchor
      // Adding the icons
      a[href*="facebook.com"]::before {
        content: '\f09a';
      }

      a[href*="twitter.com"]::before {
        content: '\f099';
      }

      a[href*="dribbble.com"]::before {
        content: '\f17d';
      }

      a[href*="plus.google.com"]::before {
        content: '\f0d5';
      }

      a[href*="pinterest.com"]::before {
        content: '\f0d2';
      }

      a[href*="github.com"]::before {
        content: '\f09b';
      }

      a[href*="tumblr.com"]::before {
        content: '\f173';
      }

      a[href*="youtube.com"]::before {
        content: '\f167';
      }

      a[href*="flickr.com"]::before {
        content: '\f16e';
      }

      a[href*="vimeo.com"]::before {
        content: '\f194';
      }

      a[href*="instagram.com"]::before {
        content: '\f16d';
      }

      a[href*="linkedin.com"]::before {
        content: '\f0e1';
      }

      a[href*="yelp.com"]::before {
        content: '\f1e9';
      }

      a[href*="mailto:"]::before {
        content: '\f003';
      }
    } // end li
  } // end ul
} // end .menu-social

// Hide the default Screen Reader text
.screen-reader-text {
  display: none;
}

@media only screen and (max-width: 640px) {
  .menu-social {
    float: none;
    text-align: center;
  }
}
