/*------------------------------------*\
    Global Settings
\*------------------------------------*/

html, body {
border:0;
margin:0;
padding:0;
width: 100%;
height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
font:100%/1.25 arial, helvetica, sans-serif;
min-height: 100%;
 overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/***** Common Formatting *****/


[class*="block-grid-"]>li{ //fix margins on block grids inside of articles
margin: 0;
}
[class*="block-grid-"]{
margin: 0;
}

blockquote {
margin:22px 40px;
padding:0;
}

small {
font-size:0.85em;
}

sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}

sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}

acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}

/***** Links *****/

a, a:visited {
text-decoration:none;
}

/***** Forms *****/

form {
margin:0;
padding:0;
display:inline;
}

input, select, textarea {
font:1em arial, helvetica, sans-serif;
}

textarea {
line-height:1.25;
}

label {
cursor:pointer;
}

/***** Tables *****/

table {
border:0;
margin:0 0 18px 0;
padding:0;
}

table tr td {
padding:2px;
}


/***** Utility Classes *****/

.clear{clear:both;}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
 }
 
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.float-left 	{ float:left; }
.float-right 	{ float:right; }

.alignleft{
text-align: left;
}

.alignright{
text-align: right;
}

.aligncenter{
text-align: center;
}
