/* -------------------------- *\
	       HEADERS
*\ -------------------------- */

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}

h1 {
padding:30px 0 25px 0;
font:2em arial, helvetica, sans-serif;
}

h2 {
padding:20px 0;
font:1.5em arial, helvetica, sans-serif;
}

h3 {
font:1em arial, helvetica, sans-serif;
font-weight:bold;
}